.znaniumcombook_book_picker_modal_body .mb-3, .znaniumcombook_book_picker_modal_body .my-3 {
  margin-bottom: 1rem !important; }

.znaniumcombook_book_picker_modal_body .mt-3, .znaniumcombook_book_picker_modal_body .my-3 {
  margin-top: 1rem !important; }

.znaniumcombook_book_picker_modal_body .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }
  .znaniumcombook_book_picker_modal_body .input-group .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; }

.znaniumcombook_book_picker_modal_body .pagination {
  display: flex;
  padding-left: 0;
  list-style: none; }

.znaniumcombook_book_picker_modal_body .align-items-center {
  align-items: center !important; }

.znaniumcombook_book_picker_modal_body .justify-content-center {
  justify-content: center !important; }

.znaniumcombook_book_picker_modal_body .border-dark {
  border-color: #343a40 !important; }

.znaniumcombook_book_picker_modal_body .border {
  border: 1px solid; }

.znaniumcombook_book_picker_modal_body .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.znaniumcombook_book_picker_modal_body .col, .znaniumcombook_book_picker_modal_body .col-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.znaniumcombook_book_picker_modal_body .col {
  flex-basis: 0%;
  flex-grow: 1;
  max-width: 100%; }

.znaniumcombook_book_picker_modal_body .col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

